name: Deploy Glue Script

on:
  push:
    branches:
      - main
    paths:
      - 'etl_script.py'  
      - 'glue_utils/**'  

  workflow_dispatch:

jobs:
  deploy-glue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: sa-east-1

      - name: Upload Glue Script to S3
        env:
          BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
        run: |
          aws s3 cp etl_script.py s3://$BUCKET_NAME/scripts/etl_script.py
          echo "Script Glue atualizado com sucesso!"